# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Environnement
.env
.env.*
!.env.example
*.env
responses
# Virtualenv
.venv/
venv/
env/
ENV/

# Tests
.pytest_cache/
.coverage
htmlcov/
*.cover

# Distribution
dist/
build/
*.egg-info/
*.egg

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
